<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Background Image On Hover</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Tangerine', cursive;
        }

        .btn {
            background: linear-gradient(to right, #6065D9, #17D7FA);
            border: none;
            border-radius: 100px;
            font-size: 18px;
            font-weight: 300;
            color: #fff;
            display: block;
            width: 150px;
            height: 40px;
            margin: 0 auto;
            outline: none;
            cursor: pointer;
        }

        .btn-area {
            margin-left: -80%;
            margin-top: 50px;
            margin-bottom: -5%;
        }

        .thing1 {
            background-image: url(/images/background001.jpg);
            -webkit-background-size: cover;
            background-size: cover;
            transition: all 1s ease-in-out;
            height: 100vh;
        }

        h2 {
            text-align: center;
            padding-top: 25%;
            font-size: 70px;
        }

        .thing1:hover {
            background-image: url(/images/water.jpg);
            transition: all 1s ease-in-out;
            -webkit-background-size: cover;
            background-size: cover;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div class="btn-area">
        <button class="btn" type="button" onclick="location.href='/'">Back to Home</button>
    </div>
    <div class="thing1">
        <h2>The beauty in in your mind, not in your mind</h2>
    </div>
</body>

</html>