<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form & Alert</title>
    <script>
        function fnHelp() {
            alert("Form and Alert Example");
        }
    </script>
</head>

<body>
    <form method="POST" action="#">
        ID: <input type="text" name="txtUid" value="Charles Sin"/><br/>
        Password: <input type="password" name="txtPwd"/><br/>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
        <input type="button" value="About" onclick="fnHelp();"/>
    </form>
</body>

</html>