<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lazy Loading Images</title>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            width: 70%;
        }

        h1 {
            text-align: center;
            font-family: sans-serif;
            font-weight: 200;
        }

        #imagesContainer {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: auto;
            width: 680px;
        }

        #imagesContainer img {
            width: 300px;
            min-height: 200px;
            margin: 20px;
            box-shadow: 5px 10px 15px;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .fadeIn {
            animation-name: fadeIn;
            animation-duration: 3s;
        }

        .back-btn {
            background: linear-gradient(to right, #6065D9, #17D7FA);
            border: none;
            border-radius: 100px;
            font-size: 18px;
            font-weight: 300;
            color: #fff;
            display: block;
            width: 150px;
            height: 40px;
            margin: 0 auto;
            outline: none;
            cursor: pointer;
        }

        .btn-area {
            margin-left: -70%;
            margin-top: 10px;
            margin-bottom: -5%;
        }
    </style>
</head>

<body>
    <div class="btn-area">
        <button class="back-btn" type="button" onclick="location.href='/'">Back to Home</button>
    </div>
    <h1>Lazy Loading Images</h1>

    <!-- Images Container -->
    <div id="imagesContainer"></div>

    <!-- Loading spinner -->
    <div class="lds-roller" id="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!-- Our custom JS code -->
    <script>
        window.onload = () => {
            // Get 100 random images
            fetch('https://picsum.photos/v2/list?limit=30')
                .then(function (response) {
                    return response.json();
                })
                .then(function (myJson) {
                    // Call the createImages function to generate the HTML code
                    createImages(myJson);
                    // Remove the loading spinner
                    document.getElementById('lds-roller').remove();
                })
                .catch(err => {
                    console.log(err);
                });
        };

        function createImages(imgs) {
            for (let i of imgs) {
                // Create an image HTML tag
                const image = document.createElement('img');
                image.setAttribute('data-lazy', i.download_url);
                image.classList.add('lazy-loading');
                document.getElementById('imagesContainer').appendChild(image);
            }
            // Sets an observer for each image
            lazyTargets = document.querySelectorAll('.lazy-loading');
            lazyTargets.forEach(lazyLoad);
        }

        // The lazy loading observer
        function lazyLoad(target) {
            //making use of IntersectionObserver package
            const obs = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        const img = entry.target;
                        const src = img.getAttribute('data-lazy');

                        img.setAttribute('src', src);
                        img.classList.add('fadeIn');

                        observer.disconnect();
                    }
                });
            });
            obs.observe(target);
        }

    </script>
</body>

</html>