<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navigation Bar With Dropdown Menu Animation</title>
    <link rel="stylesheet" href="./stylesheets/navbarwithdropdownmenu.css">
</head>

<body>
    <div class="menu-area">
        <ul>
            <li>home</li>
            <li>about</li>
            <li>services
                <ul class="dropdown">
                    <li>Sign in</li>
                    <li>Sign up</li>
                </ul>
            </li>
            <li>portfolio</li>
            <li>contact</li>
        </ul>
    </div>
</body>

</html>