<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Blog Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/personalblog.css">
</head>

<body>
    <div class="shape">
        <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            height="1134.684236579008" width="1283.2059854409436">
            <defs>
                <path id="path-1" opacity="1" fill-rule="evenodd"
                    d="M972.5000000000001,620.0000000000001 C765.5625156752066,681.9558286402713 845.3894663294444,879.3118273717789 855.5000000000002,1061.5 C865.5433555714654,1242.477647495442 265.9999999999998,1043.5 133.99999999999994,940 C94.50566446433085,909.0328505458958 -1.7053025658242404e-13,731.7160508534467 -1.1368683772161603e-13,654.5 C3.410605131648482e-13,180.95690898414801 96.45690898414746,1.1368683772161603e-13 570.0000000000001,0 C883.9652902911837,0 1260.0192327143177,133.6393210914361 1282,347.5 C1293.1720709586625,456.1980563044468 1229.5418795008668,543.0432191070132 972.5000000000001,620.0000000000001Z" />
                <linearGradient id="linearGradient-2" x1="0.5" y1="0" x2="0.5" y2="1">
                    <stop offset="0" stop-color="rgb(40,27,142)" stop-opacity="1" />
                    <stop offset="1" stop-color="rgb(37,196,206)" stop-opacity="1" />
                </linearGradient>
            </defs>
            <g opacity="1">
                <use xlink:href="#path-1" fill="url(#linearGradient-2)" />
            </g>
        </svg>
    </div>
    <section class="container">
        <header>
            <p><a href="#" title="About me">Who am I ?</a></p>
        </header>
        <section class="content">
            <h1>Hello,</h1>
            <h1>I'm Charles Sin.C.Y</h1>
            <p>Study at Feng Chia University</p>
            <p>Student From Taiwan</p>
            <ul>
                <li>
                    <a href="" title="">
                        <span class="fa fa-facebook"></span>
                    </a>
                </li>
                <li>
                    <a href="" title="">
                        <span class="fa fa-github"></span>
                    </a>
                </li>
                <li>
                    <a href="" title="">
                        <span class="fa fa-dribbble"></span>
                    </a>
                </li>
            </ul>
        </section>
        <section class="right-content">
            <div class="posts">
                <div class="post">
                    <header>
                        <p class="post-title">
                            Coming Soon
                        </p>
                        <p class="post-date">
                            07 / 07 / 2019
                        </p>
                    </header>
                    <div class="post-content">
                        <p>
                            Example ...
                        </p>
                    </div>
                </div>
                <div class="post">
                    <header>
                        <p class="post-title">
                            Coming Soon
                        </p>
                        <p class="post-date">
                            07 / 07 / 2019
                        </p>
                    </header>
                    <div class="post-content">
                        <p>
                            Example ...
                        </p>
                    </div>
                </div>
                <div class="post">
                    <header>
                        <p class="post-title">
                            Coming Soon
                        </p>
                        <p class="post-date">
                            07 / 07 / 2019
                        </p>
                    </header>
                    <div class="post-content">
                        <p>
                            Example ...
                        </p>
                    </div>
                </div>
                <p class="read-more">
                    <a href="" alt="read more">Read more <span class="fa fa-arrow-right"></span></a>
                </p>
            </div>
        </section>
    </section>
</body>

</html>