<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dark Sign Up Page</title>
    <link rel="stylesheet" href="./stylesheets/signup.css">
</head>

<body>
    <section class="wrapper">
        <div class="main-content">
            <h3>Join Us</h3>
            <form action="">
                <div class="input-group">
                    <label for="fullname">Fullname</label>
                    <input type="text" placeholder="Fullname" id="fullname" autocomplete="off">
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email" id="email" autocomplete="off">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" id="password">
                </div>
                <div class="input-group">
                    <button>Sign up</button>
                </div>
            </form>
            <p>OR</p>
            <div class="social">
                <ul class="list">
                    <li>
                        <a href="">
                            <img src="https://cdn.svgporn.com/logos/github-icon.svg" alt="Github" width="20">
                            <span>Github</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
                                alt="Google" width="20">
                            <span>Google</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>