<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Table View</title>

    <!-- Css file -->
    <link rel="Stylesheet" type="text/css" href="./stylesheets/style.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="margin-top:0px;">
    <div style="width:1024px; margin-left:auto; margin-right:auto;">
        <header></header>
        <div id="content">
            <aside>
                <!--廣告放置區，目前無資料-->
            </aside>
            <section>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <table class="table table-borderless text-center">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="bg-warning p-2 m-1" style="color: aliceblue">星期一</span>
                                    </th>
                                    <th>
                                        <span class="bg-warning p-2 m-1" style="color: aliceblue">星期二</span>
                                    </th>
                                    <th>
                                        <span class="bg-warning p-2 m-1" style="color: aliceblue">星期三</span>
                                    </th>
                                    <th>
                                        <span class="bg-warning p-2 m-1" style="color: aliceblue">星期四</span>
                                    </th>
                                    <th>
                                        <span class="bg-warning p-2 m-1" style="color: aliceblue">星期五</span>
                                    </th>
                                </tr>
                            </thead>
                            <br>
                            <tbody>
                                <tr>
                                    <td style="padding: 10px">Mark</td>
                                    <td style="padding: 10px">Otto</td>
                                    <td style="padding: 10px">@mdo</td>
                                    <td style="padding: 10px">Otto</td>
                                    <td style="padding: 10px">@mdo</td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px">Jacob</td>
                                    <td style="padding: 10px">Thornton</td>
                                    <td style="padding: 10px">@fat</td>
                                    <td style="padding: 10px">Otto</td>
                                    <td style="padding: 10px">@mdo</td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px">Larry</td>
                                    <td style="padding: 10px">the Bird</td>
                                    <td style="padding: 10px">@twitter</td>
                                    <td style="padding: 10px">Otto</td>
                                    <td style="padding: 10px">@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <footer></footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>