<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Youtube Playlist</title>

    <!-- Css file -->
    <link rel="Stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body style="margin-top:0px;">
    <div style="width:1024px; margin-left:auto; margin-right:auto;">
        <header></header>
        <div id="content">
            <aside>
                <!--廣告放置區，目前無資料-->
            </aside>
            <section>
                <iframe class="videoframe" src="https://www.youtube.com/embed/rx6KTqpjAAY?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/7jpMwwn4V04?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/KSzYrKJeUbU?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/o0o5QT_ZdCI?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/BMmbIU8NqIU?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/0yYjLchpIq0?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/YdmLM_pmH94?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/VG0TyqduIW8?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/wyVf-2xLxVc?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/MPh3SFmx8oc?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/41y2pMLoxxY?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/PJA5oTYzCRw?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/_440vk9zIUI?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/obDczEBeZHk?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/3dj2BOHOqkk?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/av8RjbM3aQ0?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/OsM94D1W1RQ?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/ICjJ-qkAg-0?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/2434Atn0M88?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/rgxjhrkqJ0A?start=2" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/1YJ8wSH6HBU?start=4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/aAAwSWwpwLc?start=2" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/OfpWrDHPAcA?start=2" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/f54H_fmTpms?start=2" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/0ivNMQauscc?start=3" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/W5rtOfUGRys?start=2" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/oorOOXMnRcw?start=4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="videoframe" src="https://www.youtube.com/embed/HaWhNjv9oP4?start=1" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </section>
        </div>
        <footer></footer>
    </div>
</body>

</html>